.backButton {
    background: none;
    border: none;

    cursor: pointer;
    font-size: 16px;
    color: var(--glass-text-color);
    transition: background-color 0.1s ease;

    flex-grow: 0;
    flex-shrink: 0;

    &:hover {
        text-decoration: underline;
    }
}